services:
  server_blue:
    build: .
    command: gunicorn bananasinc.wsgi:application --bind 0.0.0.0:8000
    expose: ["8000"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.django.loadbalancer.server.port=8000"
      - "traefik.http.services.django.loadbalancer.weight=1"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]

  server_green:
    build: .
    command: gunicorn bananasinc.wsgi:application --bind 0.0.0.0:8000
    expose: ["8000"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.django.loadbalancer.server.port=8000"
      - "traefik.http.services.django.loadbalancer.weight=0"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]