services:
  server:
    build: .
    entrypoint: ["./entrypoint.sh"]
    command: >
      poetry run gunicorn bananasinc.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --timeout 30
      --graceful-timeout 30
    expose:
      - "8000"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 30s